@font-face {
    font-family: Myriad-light;
    src: url(../fonts/MYRIADPRO-LIGHT.OTF);
}

@font-face {
    font-family: Myriad-bold;
    src: url(../fonts/MYRIADPRO-BOLD_0.OTF);
}
@font-face {
    font-family: Myriad;
    src: url(../fonts/MYRIADPRO-REGULAR_0.OTF);
}

body{
    font-size: 14px;
    font-family: Myriad-light;
    color: #000;
}

a:focus, a:active{
    border: none;
    outline: none;
}

a{
    color: #000;
}

.h1, .h2, .h3, h1, h2, h3{
    margin-top: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container .wrapper{
    padding: 15px 45px;
}

/* Button */
.btn{
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: Myriad;
}

.btn:hover{
    color: #fff;
}

.btn-organ{
    background-color: #f47b50;
    color: #fff;
}

.btn-green{
    background-color: #00a99d;
    color: #fff;
}

.btn-brown{
    background-color: #603813;
    color: #fff;
}

.btn-yellow{
    background-color: #f9be31;
    color: #fff;
}

.btn-blue{
    background-color: #3fa9f5;
    color: #fff;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{
    outline: none;
}

.color-white, .color-white:hover{
    color: #fff;
}

.color-organ, .color-organ:hover{
    color: #f47b50;
}
/* end Button */

/* Header */
header{

}

header .container-fluid{
    position: relative;
}

header .navbar{
    background-color: transparent;
    border: none;
    padding-top: 15px;
    margin-bottom: 10px;
    border-radius: 0;
}

header .navbar-default .navbar-nav li{
    padding: 10px;
}

header .navbar-default .navbar-nav a{
    color: #666;
    font-size: 18px;
    padding: 0 0 5px;
    font-family: Myriad-light;
    white-space: nowrap;
}

header .navbar-nav a:after{
    background: none repeat scroll 0 0 #f9be31;
    bottom: 0;
    left: 18%;
    content: "";
    height: 2px;
    position: absolute;
    width: 60%;
    transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
}

header .navbar-nav .active a:after, header .navbar-nav li:hover a:after{
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

header .navbar-default .navbar-nav .active a, header .navbar-default .navbar-nav .active a:hover, header .navbar-default .navbar-nav .active a:focus{
    background-color: transparent;
    color: #000;
}

header .navbar-nav{
    padding-top: 10px;
}

header .navbar-brand{
    height: auto;
    padding: 15px 15px 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: rgba(96,56,19,0.2);
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #603813;
}

.navbar-default .navbar-toggle{
    border-color: #fff;
}

.header{
    position: relative;
    margin-bottom: 25px;
}

.header_banner{
    width: 100%;
    position: relative;
}

.header_banner .banner{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.header_banner .banner h2{
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 10px;
    color: #fff;
    left: 40px;
    padding: 5px 20px;
    position: absolute;
}

.header_menu{
    background-color: #f4f0eb;
    padding-left: 190px;
    width: 100%;
}

.header_menu .navbar-default{
    padding-top: 0px;
    min-height: 44px;
}

.header_menu .navbar-nav{
    padding-top: 0px;
}

.header_menu .navbar-default .navbar-nav a{
    padding: 2px 0;
    font-size: 16px;
}

.header_menu .navbar-nav a:after{
    bottom: -10px;
    height: 2px;
    left: 0;
    width: 100%;
}

.header_menu .link{
    float: right;
    padding-top: 15px;
}

.header_menu .link .icon{
    width: 23px;
    height: 21px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 4px;
}

.header_menu .link a{
    margin-left: 15px;
}

.header_avatar{
    position: absolute;
    bottom: -33px;
    left: 20px;
}

.header_avatar > div{
    background-color: #f4f0eb;
    padding: 4px;
}

.header_avatar a{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 99;
}

.header_info{
    position: absolute;
    height: 155px;
    bottom: 0px;
    padding-left: 234px;
    font-family: Myriad-bold;
    width: 100%;
    padding-top: 50px;
}

.header_info .rating{
    clear: both;
    display: inline-block;
}

.header_info .rating .text{
    background-color: #dfdeda;
    border: 2px solid #fff;
    border-radius: 2px;
    text-align: center;
    width: 61px;
    height: 31px;
    overflow: hidden;
    color: #fff;

    float: left;
    margin-right: 15px;
}

.header_info .rating .img{
    float: left;
}

.header_info h1{
    font-size: 26px;
    color: #fff;
    font-family: Myriad;
}

.header_info .url a{
    margin-right: 15px;
}

.header_info .act{
    position: absolute;
    top: 0px;
    right: 25px;
}

.header_info .act a{
    margin-left: 15px;
    font-family: Myriad-bold;
}

.header_manage .header_menu{
    padding-left: 0;
    background-color:#f9be31;
}

.header_manage .navbar-nav a:after{
    background: none repeat scroll 0 0 #603813;
    bottom: -10px;
    height: 3px;
    left: 0;
    width: 100%;
}

.header_manage .navbar-nav a{
    color: #fff;
}

footer{
    border-top: 3px solid #f9be31;
    padding: 15px;
}

footer .footer-header{
    color: #808080;
    font-weight: bold;
    height: 30px;
    overflow: hidden;
}

.authen{
    position: absolute;
    right: 15px;
    top: 15px;
}

.authen .btn{
    margin: 0 5px;
    font-size: 14px;
}
/* end Header */



/* General */
.title{
    display: inline-block;
    font-size: 28px;
    position: relative;
    font-family: Myriad;
    margin-bottom: 15px;
}

.title-small{
    font-size: 20px;
}

.title span:after{
    background: none repeat scroll 0 0 #f9be31;
    transform: scale(1);
    bottom: -5px;
    left: 50%;
    margin-left: -30px;
    content: "";
    height: 2px;
    position: absolute;
    width: 60px;
}

.text-light{
    font-family: Myriad-light;
}

span.icon{
    display: inline-block;
    vertical-align: middle;
}
/* end General */

/* Home */
.row-home-01{
    padding: 5px;
    font-family: Myriad;
}

.row-home-01 ul{
    display: inline-block;
}

.row-home-01 ul li{
    height: 31px;
    padding-left: 50px;
    padding-top: 5px;
    margin-bottom: 25px;
}

.row-home-01 ul li:last-child{
    margin-bottom: 0px;
}

.row-home-01 .pic{
    padding-top: 15px;
    text-align: center;
}

.row-home-01 .pic img{
    width: 100%;
}

.row-home-01 > div{
    padding: 10px 45px;
}

.row-home-02{

}

.row-home-02 .icon{
    width: 55px;
    height: 32px;
    margin-right: 5px;
}

.row-home-02 > div{
    padding: 0 70px;
}

.row-home-02 a, .row-home-02 .btn:focus{
    width: 100%;
    height: 56px;
    margin-bottom: 20px;
    font-family: Myriad-bold;
    background-color: #603813;
    overflow: hidden;
    text-align: left;
    padding-top: 13px;
    color: #fff;
}

.row-home-02 a:hover{
    background-color: #f9be31;
    border-color: #f9be31;
    color: #fff;
}

.row-home-03{
    background: url('../images/image05.jpg') no-repeat;
    height: 299px;
    width: 100%;
    margin-top: 25px;
    overflow: hidden;
    padding: 10px 0px;
    position: relative;
}

.row-home-03 .title{
    color: #fff;
}

.row-home-03 .slick-list{
    margin: 0 70px;
}

.row-home-03 .slick-box{
    margin-top: 30px;
}

.row-home-03 .slick-box p{
    color: #fff;
    padding-left: 10px;
    text-align: justify;
}

.row-home-03 .avatar{
    border-color: #fff !important;
    float: left;
    margin-right: 10px;
}

.row-home-03 > div{
    clear: both;
}

.row-home-03 .btn{
    bottom: 15px;
    font-size: 16px;
    padding: 10px 35px;
}

.row-home-03 .slick-box .slick-prev:before{
    background: url('../images/slider-prev-white.png') no-repeat transparent !important;
}

.row-home-03 .slick-box .slick-next:before{
    background: url('../images/slider-next-white.png') no-repeat transparent !important;
}

.row-home-04{

}

.row-home-04 .slick-slide{
    width: 300px;
    height: 270px;
}

.row-home-04 .slick-slide img{
    width: 100%;
}

.row-home-bg, .row-bg{
    background-color: #f4f0eb;
}

.row-border{
    border: 1px solid #f4f0eb;
}

.row-home-bg{
    padding: 5px;
}

.icon-h-cloud{
    background: url('../images/icon-h-cloud.png') no-repeat 0 center transparent;
}

.icon-h-image{
    background: url('../images/icon-h-image.png') no-repeat 0 center transparent;
}

.icon-h-like{
    background: url('../images/icon-h-like.png') no-repeat 0 center transparent;
}

.icon-h-rocket{
    background: url('../images/icon-h-rocket.png') no-repeat 0 center transparent;
}

.icon-h-user{
    background: url('../images/icon-h-user.png') no-repeat 0 center transparent;
}

.icon-h-home{
    background: url('../images/icon-h-home.png') no-repeat center center transparent;
}

.icon-h-emp{
    background: url('../images/icon-h-emp.png') no-repeat center center transparent;
}

.icon-h-bed{
    background: url('../images/icon-h-bed.png') no-repeat center center transparent;
}

.icon-h-cooker{
    background: url('../images/icon-h-cooker.png') no-repeat center center transparent;
}

.icon-h-bath{
    background: url('../images/icon-h-bath.png') no-repeat center center transparent;
}

.icon-h-gate{
    background: url('../images/icon-h-gate.png') no-repeat center center transparent;
}

.icon-h-air{
    background: url('../images/icon-h-air.png') no-repeat center center transparent;
}

.icon-h-elect-water{
    background: url('../images/icon-h-elec-water.png') no-repeat center center transparent;
}

.icon-h-engineer{
    background: url('../images/icon-h-engineer.png') no-repeat center center transparent;
}

.icon-camera{
    background: url('../images/icon-camera.png') no-repeat center center transparent;
    width: 25px;
    height: 18px;
    display: inline-block;
}

.icon-pointer{
    background: url('../images/icon-pointer.png') no-repeat center center transparent;
}

.icon-mail{
    background: url('../images/icon-mail.png') no-repeat center center transparent;
}

.icon-fax{
    background: url('../images/icon-fax.png') no-repeat center center transparent;
}

.icon-phone{
    background: url('../images/icon-phone.png') no-repeat center center transparent;
}

.icon-phone0{
    background: url('../images/icon-phone0.png') no-repeat center center transparent;
}

.icon-world{
    background: url('../images/icon-world.png') no-repeat center center transparent;
}
/* end Home */

/* Slick */
.slick-box{
    width: 100%;
    overflow: hidden;
}

.slick-box .slick-slider{
    margin-right: -23px;
}

.slick-box .slick-prev{
    left: 1px;
}

.slick-box .slick-next{
    right: 24px;
}

.slick-box .slick-prev, .slick-box .slick-next{
    width: 33px;
    height: 33px;
    top: 40%;
}

.slick-box .slick-prev:before, .slick-box .slick-next:before {
    content: " ";
    position: absolute;
    width: 33px;
    height: 33px;
    cursor: pointer;
    top: 0;
    left: 0;
}

.slick-box .slick-prev:before{
    background: url('../images/slider-prev.png') no-repeat transparent;
}

.slick-box .slick-next:before{
    background: url('../images/slider-next.png') no-repeat transparent;
}

.slick-box .slick-slide{
    margin-right: 25px;
    height: auto;
}

.slick-box p{
    margin-top: 5px;
    font-family: Myriad-light;
}

.slick-box.slick-slider{
    margin-bottom: 5px;
}
/* end Slick */

/* Avatar */
.avatar{
    width: 120px;
    height: 120px;
    border: 1px solid #666666;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    position: relative;
    padding: 10px;
}

.avatar > div{
    border-radius: 50%;
    height: 100%;
    left: 0;
    padding: 4px;
    position: absolute;
    top: 0;
    width: 100%;
}

.avatar > div > div{
    border-radius: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.avatar img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
/* end Avatar */

/* --- */
.pull{
    clear: both;
    display: inline-block;
    width: 100%;
}

.list-item{
    margin-bottom: 25px;
    border: 1px solid #ccc;
}

.list-item img{
    width: 100%;
}

.list-item p{
    margin: 0 10px;
    line-height: 28px;
    color: #666;
}

.list-item p.title{
    padding-top: 5px;
    font-size: 14px;
    color: #000;
    font-family: Myriad;
}

.list-item p.description{
    text-align: justify;
    line-height: 24px;
}

.list-item .slide{
    cursor: pointer;
}

.list-count{
    font-size: 18px;
    margin-bottom: 15px;
}

.list-image-slide{
    display: none;
}

.catalog .header{
    clear: both;
    margin-bottom: 25px;
    font-family: Myriad;
}

.catalog .header ul{
    display: inline-block;
}

.catalog .header li{
    float: left;
    border: 1px solid #ccc;
    border-right: none;
}

.catalog .header li:last-child{
    border-right: 1px solid #ccc;
}

.catalog .header li a{
    display: inline-block;
    font-size: 14px;
    padding: 5px 20px;
    color: #000;
}

.catalog .header li.active{
    background-color: #d0ad55;
    border: 1px solid #d0ad55;
}

.catalog .header li.active a{
    color: #fff;
}

.member-list img{
    width: 100%;
    border-radius: 50%;
}

.member-list .list-item{
    border: none;
}

.nav-catalog .header{
    font-weight: bold;
    color: #f9be32;
    font-size: 18px;
}

.content-detail img{
    display: block;
    margin: 0 auto 5px;
    max-width: 100%;
}

.form-contact input[type=text], .form-contact textarea{
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.form-contact p.title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-contact .icon{
    background-position: center 5px;
    float: left;
    height: 50px;
    margin-right: 10px;
    width: 25px;
}
/* --- */

/* Manage */
.container.manage{
    min-height: 350px;
    font-size: 16px;
}

.container.manage .wrapper{
    padding-top: 0px;
}

.manage .select2-container .select2-selection--single{
    height: 34px;
}

.manage .select2-container--default .select2-selection--single{
    padding: 3px 0;
    border-radius: 0;
    border-color: #000;
}

.manage .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 32px;
    width: 30px;
    background-color: #f9be31;
}

.manage .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border: none;
    background: url('../images/arrow-down.png') no-repeat transparent;
    width: 20px;
    height: 20px;
    margin-left: -6px;
    margin-top: -5px;
}

.manage table thead{
    background-color: #f4f0eb;
}

.manage table thead tr th{
    border-bottom: none;
    text-align: center;
}

.manage table tbody tr td{
    vertical-align: middle;
}

.manage table .btn {
    border-radius: 0;
    font-family: Myriad-light;
    padding: 2px 20px;
}

.manage .form-horizontal .control-label, .manage .form-horizontal label{
    text-align: left;
    font-weight: inherit;
}

.manage .form-control{
    border-radius: 0px;
    border-color: #000;
    box-shadow: none;
}

.manage form .header{
    margin-bottom: 10px;
    color: #f9be31;
    font-size: 18px;
    font-family: Myriad-bold;
}

.manage form .btn{
    min-width: 110px;
}

.manage .row-border .title, .manage .row-bg .title{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.manage .list.empty li:before {
    color: #f9be31;
    content: "• ";
    font-size: 31px;
    font-weight: bold;
}
/* end Manage */

/* ### */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
/* ### */

@media (min-width: 1200px) {
    .container {
        width: 990px;
    }
}

@media (max-width: 768px) {
    .main-menu .navbar-header{
        float: left;
    }
    .main-menu .nav > li{
        display: inline-block;
    }
    .header_menu{
        padding-left: inherit;
    }
}

@media (max-width: 660px) {
    .main-menu .navbar-header{
        float: none;
    }
    .main-menu .navbar-nav{
        padding: 0;
    }
    .row-home-03 .slick-box p{
        display: none;
    }
    .main-menu .navbar-nav{
        margin: 0 -15px;
    }
    .main-menu.navbar{
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {
    .authen{
        display: none;
    }
    .row-home-02 > div{
        padding: 0 40px;
    }
    .row-home-03{
        height: 260px;
    }
    .row-home-03 .avatar{
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 360px) {
    .row-home-02 a{
        padding-top: 0px;
        height: 47px;
        margin-bottom: 10px;
        font-size: 12px;
    }
}